@import "./components/clearButtons/clearButtons.style.scss";
@import "./components/mainButtons/mainButtons.style.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

#container {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(163, 163, 163);
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#display {
    text-align: right;
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    height: 125px;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}